/* Component: RSS Feed */
#rssfeed .feeditem { margin: 5px 0; padding-bottom: 5px; border-bottom: 1px solid #f0f0f0; }
#rssfeed .feeditem span { display: block; }
#rssfeed .feeditem .smallhead { font-size: 0.9rem; }
#rssfeed .feeditem .largehead { font-weight: bold; }
#rssfeed .feeditem a {}

/* ********** START RTL ********** */

.page-dir--rtl .rsslink {
    direction: rtl;
}

.page-dir--rtl .rsslink .pull-right {
    float: left!important;
}

/* ********** END RTL ********** */